.button {
    cursor: pointer;
    position: relative;
    background-color: #e0e6ef;
    border-radius: 15px;
    width: 46px;
    height: 28px;
    margin-right: 20px;
    transition: all 0.5s ease-in-out;
}

.button::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px;
    visibility: visible;
    transition: left 0.5s ease-in-out;
}