.checkbox-input_active {
    background-color: dodgerblue;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    width: 46px;
    height: 28px;
    margin-right: 20px;
}
.checkbox-input_active::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    right: 2px;
    visibility: visible;
}