.button_active {
    background-color: dodgerblue;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    width: 46px;
    height: 28px;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
}
.button_active::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 20px;
    visibility: visible;
    transition: all 0.2s ease-in-out;
}